<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<body>
<div class="container mx-auto w-screen">
  <div class="flex justify-center pt-10">
    <div class="w-96 h-80 bg-[#7ebc8b] text-center flex flex-col justify-center rounded-lg border border-black border-t-4 border-l-4 border-b-8 border-r-8">
      <label class="text-white font-bold drop-shadow-[_4px_4px_1px_rgba(0,0,0,0.8)] mb-5">Please Click button below for sent email</label>
      <a th:href="@{/myEmail}" class="bg-red text-[#f5ce43] font-bold w-24 h-9 mx-auto rounded-lg border border-black border-t-2 border-l-2 border-b-4 border-r-4 "><p class="drop-shadow-[0px_4px_0px_rgba(0,0,0,1)]">Send Email</p></a>
    </div>
  </div>
</div>

</body>
</html>